@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0%;
  margin-bottom: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

:root {
  --main-background: hsl(222, 26%, 31%);
  --toggle-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  --key-background: hsl(225, 21%, 49%);
  --key-shadow: hsl(224, 28%, 35%);
  --key-toggle-background-red: hsl(6, 63%, 50%);
  --key-shadow-1: hsl(6, 70%, 34%);
  --key-background-light: hsl(30, 25%, 89%);
  --key-shadow-2: hsl(28, 16%, 65%);
  --very-dark-text: hsl(221, 14%, 31%);
  --text: white;
  --func: white;
  --equal: white;
}

.theme-1 {
  --main-background: hsl(0, 0%, 90%);
  --toggle-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  --key-background: hsl(185, 42%, 37%);
  --key-shadow: hsl(185, 58%, 25%);
  --key-toggle-background-red: hsl(25, 98%, 40%);
  --key-shadow-1: hsl(25, 99%, 27%);
  --key-background-light: hsl(45, 7%, 89%);
  --key-shadow-2: hsl(35, 11%, 61%);
  --text: hsl(60, 10%, 19%);
  --very-dark-text: hsl(60, 10%, 19%);
  --func: white;
  --equal: white;
}

.theme-2 {
  --main-background: hsl(268, 75%, 9%);
  --toggle-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  --key-background: hsl(281, 89%, 26%);
  --key-shadow: hsl(285, 91%, 52%);
  --key-toggle-background-red: hsl(176, 100%, 44%);
  --key-shadow-1: hsl(177, 92%, 70%);
  --key-background-light: hsl(268, 47%, 21%);
  --key-shadow-2: hsl(290, 70%, 36%);
  --text: hsl(52, 100%, 62%);
  --very-dark-text: hsl(52, 100%, 62%);
  --white: hsl(0, 0, 100%);
  --func: white;
  --equal: black;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "League Spartan", sans-serif;
  background: var(--main-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 20.375rem;
  min-width: 18.75rem;
  margin: 0 auto;
}
@media (min-width: 43.75em) {
  .container {
    width: 33.75rem;
  }
}

.container > * {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.toggle p {
  font-size: 0.75rem;
  margin-right: 27px;
  color: var(--text);
  letter-spacing: rem(1);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0.5rem;
}
.header h1 {
  font-size: 2rem;
  margin-bottom: 0;
  color: var(--text);
}
.header .toggle-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 71px;
  height: 26px;
  background-color: var(--toggle-background);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}
.header .toggle-container .toggler {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--key-toggle-background-red);
  border-radius: 50%;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.header .toggle-container input {
  -ms-flex-item-align: end;
      align-self: flex-end;
  counter-increment: count;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}
.header .toggle-container input::after {
  content: counter(count);
  position: absolute;
  font-size: 0.75rem;
  top: -44px;
  left: 8px;
  color: var(--text);
}
.header .toggle-container label {
  height: 24px;
  width: 20px;
  background-color: transparent;
  cursor: pointer;
}

.result-container {
  padding: 1.6rem;
  margin-top: 1.875rem;
  border-radius: 12px;
  width: 100%;
  background-color: var(--screen-background);
  height: 5.5rem;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 43.75em) {
  .result-container {
    height: 7.3125rem;
  }
}
.result-container .result {
  color: var(--text);
  font-size: 2.5rem;
  margin-top: 1.875rem;
  margin-right: 0.3125rem;
}
@media (min-width: 43.75em) {
  .result-container .result {
    font-size: 3.5rem;
  }
}

.calc {
  margin-top: 1.5rem;
  border-radius: 0.625rem;
  padding: 1.5rem;
  width: 100%;
  height: 26.25rem;
  background-color: var(--toggle-background);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 0.8125rem auto 0.8125rem auto 0.8125rem auto;
  grid-template-columns: repeat(4, auto);
  -ms-grid-rows: 4rem 0.8125rem 4rem 0.8125rem 4rem 0.8125rem 4rem 0.8125rem 4rem;
  grid-template-rows: repeat(5, 4rem);
  grid-gap: 0.8125rem;
}

.calc > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.calc > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.calc > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.calc > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.calc > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.calc > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.calc > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.calc > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.calc > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

.calc > *:nth-child(10) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

.calc > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

.calc > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}

.calc > *:nth-child(13) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

.calc > *:nth-child(14) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

.calc > *:nth-child(15) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}

.calc > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}

.calc > *:nth-child(17) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}

.calc > *:nth-child(18) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}

.calc > *:nth-child(19) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

.calc > *:nth-child(20) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}
@media (min-width: 43.75em) {
  .calc {
    padding: 2rem;
    grid-gap: 1.5625rem;
    height: 30.700625rem;
  }
}
.calc div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 3.75rem;
  width: 3.75rem;
  padding-top: 0.5rem;
  background-color: var(--key-background-light);
  color: var(--text);
  color: var(--very-dark-text);
  font-size: 2.5rem;
  border-radius: 9.6px;
  -webkit-box-shadow: 0px 5px 0px 0px var(--key-shadow-2);
          box-shadow: 0px 5px 0px 0px var(--key-shadow-2);
  font-weight: 700;
  cursor: pointer;
}
@media (min-width: 43.75em) {
  .calc div {
    width: 6.3125rem;
    height: 3.75rem;
  }
}
.calc div:nth-child(4), .calc div:nth-child(17) {
  background-color: var(--key-background);
  font-size: 1.75rem;
  color: var(--text);
  color: var(--func);
  -webkit-box-shadow: 0px 5px 0px 0px var(--key-shadow);
          box-shadow: 0px 5px 0px 0px var(--key-shadow);
}
.calc div:nth-child(17) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  width: auto;
}
.calc div:last-child {
  background-color: var(--key-toggle-background-red);
  -webkit-box-shadow: 0px 5px 0px 0px var(--key-shadow-1);
          box-shadow: 0px 5px 0px 0px var(--key-shadow-1);
  color: var(--equal);
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  width: auto;
}
.calc div:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}